# path containing the target docker files
DOCKER_PATH=./docker
# vars for offline packaging, grabbing local bins and including them
OFFLINE=true
PACKAGES="git,curl,pv,tar,which,cargo,cargo-clippy,cargo-fmt,cargo-miri"
PACKAGE_OUTPUT=$DOCKER_PATH/bins/
CONTAINER_NAME="neovim_headless"
PORT=6666
